---
// This is Astro's Frontmatter for JavaScript imports/exports
// Astro automatically makes props available from frontmatter of markdown files
const { frontmatter } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{frontmatter.title} - Jerónimo Gutiérrez Balanta</title>
        <link rel="stylesheet" href="/styles/global.css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    </head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/design">Design</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/archive">Archive</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article class="project-detail">
            

            <slot />

            <a href="/projects" class="back-to-projects">&lt; Back to all Projects</a>
        </article>
    </main>

    <footer>
        <p>&copy; 2025 Jerónimo Gutiérrez Balanta. All rights reserved.</p>
    </footer>
</body>
</html>